// ==============================
// Custom style
// ==============================

html {
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

body {
  min-height: 75rem;
  margin-top: 5rem;
}

a, a::before, a::after {
  text-decoration: none;
  color: #161209;
}

a {
  &:hover {
    color: #2d96bd;
  }
}

.navbar-brand {
  font-weight: 500;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  white-space: nowrap;

  img {
    height: 1.2em;
    vertical-align: text-bottom;
  }
}

.nav-item {
  .nav-link.text-muted.active {
    color: rgba(0,0,0,.9)!important;
  }
}

#search {
  margin: 3rem 3rem 4rem;

  .pagefind-ui__search-input {
    border: 2px solid #d0d0d0;
  }
}

.summary {
  padding-top: 1rem;
  padding-bottom: 0.8rem;
  color: #161209;
  border-bottom: 1px dashed #f0f0f0;
  margin-bottom: 1.8rem;

  .single-title {
    font-size: 1.25rem;
    line-height: 140%;
    font-weight: 500;
    margin: 0.4rem 0;
    padding-bottom: .3rem;
    border-bottom: 2px solid #f0f0f0;

    i {
      margin-right: .5rem;
    }

    a {
      color: #161209;

      &:hover {
        color: #2d96bd;
      }
    }
  }

  .post-meta {
    font-size: .875rem;
    margin-bottom: 1.5rem;
    color: #404040;

    i {
      margin-left: .3rem;
      margin-right: .3rem;
    }
  }

  .content {
    h2, h3, h4, h5, h6, p {
      font-size: 1rem;
      line-height: 1.5;
      margin-top: 0.1rem;
      margin-bottom: 1rem;
    }
  }

  .post-footer {
    margin-top: 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .875rem;
  }
}

#toc {
  .toc-title {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 140%;
    margin: 2rem 0 .5rem;
    padding-bottom: .3rem;
    border-bottom: 2px solid #f0f0f0;

    i {
      margin-right: .5rem;
    }
  }

  .toc-content {
    ul {
      text-indent: -0.85rem;
      padding-left: 0.8rem;
      list-style: none;

      a:first-child::before {
        content: "|";
        font-weight: 500;
        margin-right: .5rem;
        color: #2d96bd;
      }

      ul {
        padding-left: 1.5rem;
      }
    }
  }
}

.image-center {
  text-align: center;
  margin-bottom: 1.5rem;
}


.archive {
  .single-title {
    text-align: right;
  }

  .group-title {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.17em;
    font-weight: bold;
  }

  .archive-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: 0.25rem 0 0.25rem 1.5rem;
  }

  .categories-card {
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 1.6rem;

    .card-item {
      font-size: .875rem;
      text-align: left;
      width: 45%;
      display: flex;
      align-items: flex-start;
      margin-top: 2rem;
      min-height: 10rem;
      padding: 0 2%;
      position: relative;

      .card-item-wrapper {
        .card-item-title {
          font-size: 1.2rem;
          font-weight: bold;
          display: inline-block;
          margin-top: 1rem;
          margin-bottom: 0.75rem;
        }
      }
    }
  }

  .tag-cloud-tags {
    margin: 4rem ;

    a {
      display: inline-block;
      position: relative;
      margin: 5px 10px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      -webkit-transition: all ease-out 0.3s;
      -moz-transition: all ease-out 0.3s;
      -o-transition: all ease-out 0.3s;
      transition: all ease-out 0.3s;

      sup {
        color: #404040;
      }
    }
  }
}

.archive .categories-card .card-item {

}
