#fixed-buttons {
  display: none;
}

.fixed-button {
  display: none;
  z-index: 100;
  position: fixed;
  right: 1.5rem;
  font-size: 1rem;
  line-height: 1.3rem;
  padding: .6rem .6rem;
  color: #404040;
  background: #f8f8f8;
  @include border-radius(2rem);
  @include transition(color 0.4s ease);

  @include blur;

  &:hover, &:active {
    color: #161209;
    cursor: pointer;
  }

  &:active, &:focus, &:hover {
    outline: none;
  }
}

#back-to-top {
  display: block;
  bottom: 1.5rem;
}

#view-comments {
  bottom: 4.5rem;
}
