/* You can add custom styles here. */

.container {
  max-width: 120rem;
}

.book-brand {
  font-weight: bolder;
  font-size: 1.3em;
}

.book-menu {
  label {
    font-weight: bolder;
  }
}

.book-toc {
  .book-toc-title {
    font-size: 1.2rem;
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 1px solid #efefef;
  }

  .book-toc-content {
    a {
      color: #42434b;
      font-size: 0.85rem;

      &:hover {
        color: #42434b;
        opacity: 1;
        text-decoration: underline;
      }
    }

    overflow-y: scroll;
  }

  .book-toc-content::-webkit-scrollbar {
    display: none;
  }
}

.markdown h2,
.markdown h3 {
  line-height: 1.3;
  margin-top: 3em;
}

.markdown h2 {
  font-weight: 500;
  font-size: 1.7em;
}

.markdown h3 {
  font-size: 1.3em;
}

.latest_posts li {
  margin-bottom: 1.5em;
}

.post-title {
  font-weight: 500;
  font-size: 1.7em;
}

.post_info,
.post_info a {
  color: #666;
}

.post_info {
  margin-top: 6px;
}

.post_info .tags {
  margin-left: 10px;
}

.tags a {
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #6c757d;
}

.footer-date {
  font-weight: bolder;
}

.post-tags {
  padding-bottom: 0.7em;
  border-bottom: 1px solid #efefef;
  margin-bottom: 1.5em;
}

// @import "plugins/numbered";
